#facets_block div.checker {
    display: inline;
}

.cm_facet {
    border-bottom: 1px solid #eee;
    margin-top: 15px;
}

.cm_facet label {
    font-weight: normal;
}

.cm_facet_title {
    font-weight: bold; }

.cm_tree {
    margin-bottom: 9px;
}

.cm_tree_item {
    display: block;
}

.cm_slider {
    margin-bottom: 9px;
}

.cm_ajax_loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 9;
}

.ui-cm_autocomplete {
    background: none repeat scroll 0 0 #cccccc;
    z-index: 9999;
}

.autocomplete-item {
    cursor: pointer;
    padding: 5px 10px;
    overflow: auto;
}

.autocomplete-item img {
    float: left;
    padding-right: 10px;
}

.autocomplete-item:hover {
    background: #e1e1e1;
}

.autocomplete-desc {

}

.autocomplete-group {
    /*cursor: default;*/
    background: #c5c5c5;
    font-weight: bold;
    padding-left: 10px;
}

.ac_results li {
    padding: 0;
}

#cm_selected_facets { padding:0 0 15px 0;}
#cm_selected_facets li span { font-weight:bold; padding:0 6px 0 0; color:#e85b35; cursor:pointer;}
#cm_selected_facets li span:hover { color:#a53c20;}

.clear-all { font-weight:bold; cursor:pointer;}

.cm_sliderinfo { padding:0 0 0 20px;}

.cm_facet label { color:#777777;}
.cm_facets .block .list-block li {padding: 2px 0 3px 20px; border-top:none;}